* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    font-family: Poppins-Regular;
    margin: 0;
}

.feedback-text-display {
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.90);
    height: auto;
    position: absolute;
    bottom: -100%;
    /* top: 100%; */
    left: 0;
    right: 0;
    margin: auto 30px;
    transition: all 0.5s;
    z-index: 999999999;
}

@keyframes example {
    0% {
        background-color: #00000050;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: #00000050;
        left: 0px;
        top: 0px;
        opacity: 1;
    }
}

.game-based-temp .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -17px !important;
}

.inner-container .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
    right: -10px !important;
}


/* .sound-on-off img.speaker-icon {
    position: fixed;
    top: 25px;
    left: 25px;
    z-index: 999999999;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  } */

.sound-on-off img.speaker-icon.speaker-off {
    display: none;
}

.btn {
    padding: 11px 35px;
    display: block;
    border: 0px;
    border-radius: 4px;
}

.btn.btn-green {
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 100%);
    background: #0fd180;
    color: #fff; */
    box-shadow: 0px 3px 7px 1px #00000029;
    margin: 0 5px;
}

.btn.btn-green:disabled {
    opacity: 0.5;
    pointer-events: none;
}


/* .btn.hover-state {
    display: none !important;
  } */

.popup-header {
    position: relative;
}

.popup-header .sidepanel-close-button {
    top: 0;
    bottom: 0;
}

.submit-btn-div {
    float: right;
}

.assesment-start-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.assesment-start-btn .btn {
    margin: auto;
    outline: none;
}


/* .submit-btn-div:hover .normal-state{
    display: none !important;
  }
  
  .submit-btn-div:hover .hover-state {
    display: block !important;
  } */

.moveto-next-ques:hover {
    background-color: red;
}


/* .btn.hover-state:hover{
  display: block;
  } */

.container_show {
    width: 200px;
    height: 20px;
    background: #000;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* The container */

.container.mcq {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: normal;
    color: #403f50;
    letter-spacing: 1px;
    padding: 15px 30px;
}


/* Hide the browser's default radio button */

.container.mcq input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


/* Create a custom radio button */

.container.mcq .checkmark {
    position: absolute;
    top: 50%;
    left: -8px;
    height: 22px;
    width: 22px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #a8a8a8;
    border-radius: 50%;
    transform: translateY(-50%);
}


/* On mouse-over, add a grey background color */


/* .container.mcq:hover input~.checkmark {
    background-color: #fff;
    border: 1px solid #a8a8a8;
  } */


/* Create the indicator (the dot/circle - hidden when not checked) */

.container.mcq .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the indicator (dot/circle) when checked */

.container.mcq input:checked~.checkmark:after {
    display: block;
}

.container.mcq input:checked~.checkmark {
    background: #fff;
}


/* Style the indicator (dot/circle) */

.container.mcq .checkmark:after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 11px;
    height: 11px;
    margin: auto;
    border-radius: 50%;
}

li.active .container.mcq .checkmark:after {
    background: #2196F3;
}

li.active.right .container.mcq .checkmark:after {
    background: #0fd180;
}

li.active.wrong .container.mcq .checkmark:after {
    background: #f44336;
}


/* The container */

.container.mrq {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 15px 30px;
    margin-bottom: 0px;
}


/* Hide the browser's default checkbox */

.container.mrq input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.container.mrq .checkmark {
    position: absolute;
    top: 50%;
    left: -8px;
    height: 30px;
    width: 30px;
    background-color: #fff;
    border: 1px solid #a8a8a8;
    transform: translateY(-50%);
}


/* On mouse-over, add a grey background color */


/* .container.mrq:hover input ~ .checkmark {
    background-color: #ccc;
  } */


/* When the checkbox is checked, add a blue background */

.container.mrq input:checked~.checkmark {
    background-color: #fff;
}


/* Create the checkmark/indicator (hidden when not checked) */

.container.mrq .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */

.container.mrq input:checked~.checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */

.container.mrq .checkmark:after {
    left: 0;
    right: 0;
    top: -2px;
    bottom: 0;
    margin: auto;
    width: 8px;
    height: 15px;
    /* border: solid #0fd180; */
    /* border-width: 0 3px 3px 0; */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

li.active .container.mrq .checkmark:after {
    border: solid #2196F3;
    border-width: 0 3px 3px 0;
}

li.active.right .container.mrq .checkmark:after {
    border: solid #0fd180;
    border-width: 0 3px 3px 0;
}

li.active.wrong .container.mrq .checkmark:after {
    border: solid #f44336;
    border-width: 0 3px 3px 0;
}

.watermark-block {
    position: fixed;
    right: 30px;
    top: 20px;
    z-index: 999999;
    pointer-events: none;
}

.watermark-block img {
    width: 120px;
    display: block;
}

.main-sec {
    position: relative;
}

.main_section {
    background-image: url('../images/knife_hit_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.game-based-temp {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    bottom: 0;
    /* z-index: 99999999; */
    width: 100%;
    height: 100vh;
}

.game-based-temp .feedback-text-display {
    max-height: 60vh;
    /* padding: 0 30px; */
}

.game_bonus {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50px);
    margin: auto;
    text-align: center;
    padding: 15px;
}


/* .game_bonus .game_bonus_divImage{
    margin-bottom: 15px;
  } */

.game_bonus_first_text {
    color: #FFD15C;
    font-weight: 800;
    font-size: 30px;
}

.game_bonus_sub_text {
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-top: -10px;
}

.gamezone {
    position: relative;
}

.gamezone .game-alert {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 15px 12px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    max-width: 90%;
}

.gamearea canvas {
    display: block;
    margin: 0;
    width: 100%;
}

.gamearea {
    text-align: center;
    padding: 0;
    position: relative;
    height: 100%;
    z-index: 9;
}

.gamearea canvas {
    cursor: pointer;
    margin: auto;
}

.gamezone .containAll {
    display: block !important;
    position: absolute;
    top: 22%;
    background: transparent;
    z-index: 1;
}

.knife-bg-img {
    height: 100%;
    width: 100%;
    z-index: 1;
    /* background:#000; */
}

.knife-bg-img img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}

.knife-length {
    position: absolute;
    bottom: 55px;
    /* left: 0; */
    right: 30px;
    text-align: center;
}

.knife-length img {
    display: block;
}

.disabledpointer {
    pointer-events: none;
}

.game-based-temp .close {
    position: absolute;
    right: 35px;
    top: 34px;
    box-shadow: -2px 2px 20px 0 #00000033;
    z-index: 999;
    width: 35px;
    height: 35px;
    background: #fff;
    /* border: 1px solid #5e5e5e; */
    padding: 7px;
    border-radius: 50px;
}

.introduction-sec {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99999;
    background-color: #fff;
    min-height: 100vh;
    padding: 0 50px;
    padding-bottom: 100px;
}

body.game-based-temp .closure-sec {
    display: none;
    height: 100vh;
}

.game-based-temp .clearfix {
    clear: both;
}

.game-based-temp .float-left {
    float: left;
}

.game-based-temp .float-right {
    float: right;
}

.game-based-temp .left-panel {
    height: 100%;
    overflow: hidden;
}

.game-based-temp .left-panel.swap-this-content-left {
    flex-direction: row;
    order: 2;
}

.game-based-temp .img-text-type {
    display: block;
}

.game-based-temp .video-sec {
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.game-based-temp .video-sec video {
    border: 0;
}

.game-based-temp .img-text-type .text-sec,
.game-based-temp .img-text-type .video-sec,
.game-based-temp .img-text-type .img-sec {
    height: 50%;
    overflow: hidden;
}

.game-based-temp .right-panel {
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1E7E78;
}

.game-based-temp .right-panel .question-text {
    padding: 0 30px;
    /* margin-bottom: 15px; */
    /* -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1; */
    position: relative;
    overflow: hidden;
    height: 100%;
}

.game-based-temp .widget-content-panel .text-sec {
    padding-bottom: 0px;
    padding: 5%;
}

.game-based-temp .widget-content-panel .text-sec .text-content-added {
    height: max-content;
    max-height: 95%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0 35px;
}

.game-based-temp .main-sec .text-sec {
    padding: 0% 3%;
    text-align: left;
    width: 100%;
    height: 100%;
    padding-right: 1%;
}

.game-based-temp .main-sec .right-panel.text-sec {
    background: #fff
}

.game-based-temp .text-sec ul {
    list-style: none;
    padding-left: 0;
}

.game-based-temp .question-text {
    /* max-height: calc(100vh - 150px); */
    min-height: 30vh;
}

.game-based-temp .question-text .question-text-scroll {
    max-height: calc(100vh - 150px);
    min-height: 30vh;
    height: 100%;
}


/* .game-based-temp .question-text{
    max-height: calc(100vh - 150px);
    min-height: 30vh;
    margin-top: 20px;
  } */

.mCSB_container {
    padding: 0px !important;
    margin: 0px !important;
}

.mCustomScrollBox {
    padding-right: 15px;
}

.game-based-temp .question-text ul li {
    padding: 0 30px;
    margin-bottom: 15px;
    border-radius: 33px;
    font-size: 13px;
    width: 100%;
    border: 1px solid #0000;
    position: relative;
}

.game-based-temp.feedback-panel .question-text .li-listing {
    width: 90%;
}

.game-based-temp .question-text ul li.active {
    background: rgba(0, 0, 0, 0.60);
    border: 1px solid #2196F3;
}

.game-based-temp .question-text ul li.active.right {
    background: rgba(0, 0, 0, 0.60);
    border: 1px solid #4caf50;
    position: relative;
}

.game-based-temp .question-text ul li .right-wrong-icon {
    position: absolute;
    right: -33px;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
}

.game-based-temp.feedback-panel .question-text ul li.active .right-wrong-icon {
    display: block;
}

.game-based-temp .question-text ul li.active.wrong {
    background: rgba(0, 0, 0, 0.60);
    border-color: rgb(244, 67, 54);
}

.game-based-temp .question-text ul li .correct-right-icon {
    position: absolute;
    width: 8%;
    left: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 5px;
    max-width: 30px;
}

.game-based-temp .question-text ul li.active:after {
    width: 32px;
    height: 32px;
    position: absolute;
    /* left: 0; */
    left: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 8px;
}

.game-based-temp .question-text h1 {
    font-size: 13px;
    margin-top: 0;
}

.game-based-temp .wrapper {
    padding-top: 50px;
    text-align: center;
    height: 100vh;
    background-size: cover;
}

.game-based-temp .custom-container {
    position: relative;
    margin: auto;
    width: 95%;
}

.game-based-temp #content {
    border-radius: 4px;
    border: solid 1px #eeeeee;
    margin: auto;
    max-width: 650px;
    padding: 15px;
}

.game-based-temp .widget-card {
    /* background: #ffffff; */
    box-shadow: 0 0 15px 11px rgba(0, 0, 0, 0.011764705882353);
    height: 100vh;
    overflow: hidden;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    box-shadow: 0 0 11px 0px #0000001f;
}

.game-based-temp .widget-card .widget-content-panel {
    position: relative;
    background: #e8e8e8;
}

.feeback-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.feeback-content .smiley-icon-right {
    position: absolute;
    margin: auto;
    bottom: 27%;
    height: auto;
    transition: all 0.5s;
    width: 6.6%;
}

.feeback-content .smiley-icon-right.happy-icon {
    right: 7%;
    left: auto;
}

.feeback-content .smiley-icon-right.sad-icon {
    right: auto;
    left: 6%;
}

.feeback-content .speedometer-arrow {
    position: absolute;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    height: auto;
    width: 36%;
}

.feeback-content .right-arrow {
    left: 75px;
}

.feeback-content .wrong-arrow {
    left: -75px;
}

.vid-player {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.speedo-box {
    height: 30%;
}

.speedo-meter-content {
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: max-content;
    margin: 0 auto;
}

.mobile-speedo-meter img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 28px;
    z-index: 999;
}

.mobile-speedo-meter .happy-mobile-icon {
    right: 13%;
    z-index: 99;
}

.mobile-speedo-meter .sad-mobile-icon.wrong,
.mobile-speedo-meter .happy-mobile-icon.right {
    top: 20px;
    width: 35px;
}

.mobile-speedo-meter .sad-mobile-icon {
    left: 11%;
}

.mobile-speedo-meter .mobile-meter-seg {
    height: 100%;
    background: #FFC107;
}

.mobile-speedo-meter .mobile-meter-seg:before {
    content: '';
    background: rgba(0, 0, 0, 0.07058823529411765);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    z-index: 99;
}

.feeback-content img {
    height: 100%;
}

.feeback-content img.speedo-meter {
    position: static;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: auto;
    max-width: 100%;
}

.feeback-content.video-sec video {
    margin: 0;
    width: 100%;
    padding: 20px;
    max-width: 500px;
}

.video-sec .existing-iframe-example.youtube {
    margin-top: 50px;
    height: 350px;
}

.video-sec video,
.video-sec iframe {
    border: 0;
}

.video-sec .existing-iframe.vimeo {
    margin-top: 50px;
    height: 280px;
}

.feeback-content.text-sec .text-content-added {
    overflow: hidden;
}

.information-panel {
    position: relative;
    overflow: hidden;
}

.information-panel .img-sec {
    height: 100%;
}


/* .information-panel .img-sec img {
    width: auto;
  } */

.information-panel .info-content.img-sec img {
    height: 100%;
    object-position: center;
    object-fit: cover;
    width: 100%;
}

.information-panel .info-content.video-sec video,
.information-panel .existing-iframe-example.youtube,
.information-panel .existing-iframe-example.vimeo {
    width: 100%;
    padding: 20px;
    max-width: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    height: auto;
}

.footer-bottom-div {
    width: calc(100% - 60px);
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 30px;
}

.footer-bottom-div .question-count {
    position: fixed;
    top: 4px;
    background: rgba(113, 113, 113, 0.431372549);
    padding: 8px 14px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    z-index: 99999999999;
    margin-top: 13px;
}

.feedback-popup .footer-bottom-div .question-count {
    position: relative;
    top: 0;
    color: #4c4747;
    background: transparent;
    padding: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    text-align: right;
}

.game-based-temp .footer-bottom-div:after {
    content: '';
    height: 2px;
    width: 100%;
    background: -moz-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1c706b9e 15%, #1c706b9e 80%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1c706b9e 15%, #1c706b9e 80%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #1c706b9e 15%, #1c706b9e 80%, rgba(255, 255, 255, 0) 99%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0);
    position: absolute;
    right: 0;
    top: 0;
    margin: auto
}

.text-display {
    color: #7f7f7f;
    margin-top: 13px;
}

.result-screen .text-display {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}

.footer-bottom-div .total-question-list {
    float: left;
}

.result-screen {
    background: #ddd;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: auto;
    display: none;
    position: fixed;
    top: 0;
    z-index: 999999999;
    background-image: url(../images/resultbg.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* display: block !important; */
}

.speedo-meter-result h1 {
    margin-top: 0;
}

.result-screen .inner-container {
    width: 100%;
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100vh;
    margin: auto;
    padding: 70px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 900px) and (orientation: landscape) {
    .gamearea {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

.result-screen .inner-container .info-div {
    text-align: center;
}

.result-screen .speedo-meter-result {
    position: relative;
    margin-top: 0;
    text-align: center;
}

.result-screen .speedo-meter-result .title-header {
    font-size: 36px;
    color: #0fd180;
    margin: 0;
    font-weight: 700 !important;
}

.result-screen .speedo-meter-result .speedo-dashboard {
    width: 40%;
    margin-top: 30px;
    max-width: 450px;
}

.result-screen .speedo-meter-result .speedo-arrow {
    position: absolute;
    right: 0;
    margin: auto;
    bottom: 69px;
    width: 171px;
}

.result-screen .speedo-meter-result .speedo-arrow.wrong {
    left: -119px;
}

.result-screen .speedo-meter-result .speedo-arrow.right {
    left: 112px;
}

.result-screen .speedo-meter-result .happy-icon {
    position: absolute;
    left: 339px;
    right: 0;
    top: 150px;
    margin: auto;
    width: 36px;
}

.result-screen .speedo-meter-result .sad-icon {
    position: absolute;
    left: 0;
    right: 339px;
    top: 150px;
    margin: auto;
    width: 36px;
}

.feedback-popup {
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    display: none;
    max-width: 900px;
}

.popup-header-title {
    font-size: 15px !important;
    color: #333;
}

@media screen and (min-width: 1024px) {
    .feedback-popup {
        height: 500px;
    }
}

.feedback-popup .popup-header {
    padding: 7px 0;
    border-bottom: 1px solid #d6d6d6;
}


/* .feedback-popup .popup-header-title {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #fff;
  } */

.feedback-popup .popup-header .question-count {
    position: absolute;
    background: #FFF0C7;
    padding: 6px 20px;
    bottom: 100%;
    top: auto;
    line-height: normal;
    transform: none;
    left: -20px;
    font-size: 16px;
    width: 170px;
    text-align: center;
}

.feedback-popup .footer-bottom-div {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    background: #fff;
}

.feedback-popup ul {
    list-style: none;
    /* margin-bottom: 70px; */
}

.feedback-popup .sidepanel-close-button {
    right: 0;
}

.feedback-popup .sidepanel-close-button svg {
    height: 19px;
    background: transparent;
}

.feedback-popup .question-text {
    max-height: 360px;
    margin-bottom: 90px;
}

.feedback-popup .question-text ul li {
    position: relative;
    width: 95%;
    padding: 0 30px;
    margin-bottom: 15px;
    border-radius: 33px;
    font-size: 13px;
}

.feedback-popup .container.mcq .checkmark {
    background-color: #fff;
}

.feedback-popup .question-text ul li.active.right {
    background: rgba(15, 209, 128, 0.1803921568627451);
    border: 1px solid #4caf50;
}

.feedback-popup .question-text ul li.active.wrong {
    background: rgba(244, 67, 54, 0.18);
    border: 1px solid rgb(244, 67, 54);
}

.feedback-popup .question-text ul li .right-wrong-icon {
    position: absolute;
    right: -33px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.info-div ul {
    padding: 0;
    margin-bottom: 20px;
}

li.result-info {
    width: 19%;
    display: inline-block;
    padding: 15px;
    background: #fff;
    margin: 2px;
    text-align: left;
    border: 1px solid #d3d3d3;
}

.result-info h4 {
    font-weight: 700;
    font-size: 22px;
    margin: 0;
    margin-bottom: 20px;
}


/* #timeContainer {
    text-align: right;
    position: fixed;
    top: 4px;
    right: 30px;
    background: rgba(113, 113, 113, 0.431372549);
    padding: 8px 14px;
    border-radius: 20px;
    color: #fff;
    width: 103px;
    text-align: center;
    z-index: 99999999999;
  } */


/* #timeContainer.content-swaped {
    right: 15px;
    left: auto;
  } */

.refresh-btn {
    margin: 0 auto;
    min-width: 235px;
}

.inline-block {
    display: inline-block;
}


/* Helper Class */

.mar-top18 {
    margin-top: 18px;
}


/* @media screen and (min-width: 1400px), screen and (max-width: 767px), screen and (max-height: 600px) {
    .game-based-temp .li-listing {
      min-height: 330px;
      height: 330px;
    }
  } */

@media screen and (max-width: 1080px) {
    .game-based-temp .widget-card {
        flex-direction: column;
    }
    /* .game-based-temp .left-panel, .game-based-temp .right-panel {
      width: 100% !important;
    } */
    .video-sec .existing-iframe-example.youtube {
        height: 400px;
    }
    li.result-info {
        width: 45%;
        /* margin: 0; */
    }
    /* #timeContainer {
      position: absolute;
      top: 251px;
       right: 20px; 
    } */
    .refresh-btn {
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .result-screen .speedo-meter-result .speedo-dashboard {
        width: 60%;
        max-width: 550px;
    }
    .game-based-temp .question-text ul li {
        width: 100%;
        transition: all 0.5s;
    }
    /* #timeContainer {
      font-size: 12px;
      width: 91px;
    } */
}

@media screen and (max-width: 767px) and (orientation:portrait) {
    li.result-info {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
        padding: 10px;
    }
    .btn.btn-green {
        margin: 10px 0;
        width: auto;
        margin: unset;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    li.result-info {
        width: 42%;
        margin: 0 5px;
        margin-bottom: 10px;
        padding: 10px 30px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1240px) {
    li.result-info {
        width: 30%;
        margin: 0 5px;
        margin-bottom: 10px;
        padding: 10px 30px;
    }
}

@media screen and (max-width: 768px) {
    .video-sec .existing-iframe-example.youtube {
        height: 200px;
    }
    .game-based-temp h1 {
        font-size: 26px;
    }
    .result-screen .speedo-meter-result .happy-icon {
        left: 284px;
        top: 100px;
    }
    .result-screen .speedo-meter-result .sad-icon {
        top: 100px;
    }
    .info-div {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .result-screen {
        bottom: auto;
    }
}


/* @media screen and (max-width: 450px) {
    .game-based-temp .li-listing {
      max-height: calc(100vh - 370px);
    }
  } */

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    /* .game-based-temp .li-listing {
      height: 400px;
    } */
    .game-based-temp .widget-card {
        flex-direction: row;
    }
    /* #timeContainer {
      position: fixed;
      top: 0;
      right: 20px;
      z-index: 99999999999;
    } */
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    /* #timeContainer {
      top: 50%;
      position: absolute;
      right: 30px;
    } */
    /* .li-listing {
      height: 245px;
    } */
}

@media only screen and (max-width: 900px) and (min-width:700px) and (orientation: portrait) {
    .game-based-temp .widget-card .widget-content-panel {
        min-height: 490px !important;
    }
    .game-based-temp .text-sec {
        min-height: auto;
    }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    .knife-length img {
        max-height: 30px;
    }
    .knife-length {
        bottom: 10px;
    }
    .feedback-popup {
        top: auto;
        transform: none;
        width: 100%;
        height: auto;
    }
    .result-screen .inner-container {
        margin-top: 0;
    }
    .feedback-text-display {
        margin: 0;
        position: fixed;
    }
    .game-based-temp .right-panel .question-text {
        padding: 0 30px;
        height: calc(100vh - 152px);
    }
    .game-based-temp .right-panel .question-text {
        height: calc(100vh - 152px);
    }
    .gamezone .game-alert {
        top: 40px;
    }
    /* .sound-on-off img.speaker-icon {
      padding: 4px;
      width: 35px;
      height: 35px;
      top: 6px;
      left: 6px;
    } */
    .right-panel.float-right.text-sec.wow.fadeInRight:before {
        height: 41px;
        width: 60%;
        position: fixed;
        top: 0;
        background: #ffffff;
        z-index: 9;
    }
    .game-based-temp.feedback-panel .question-text .li-listing {
        width: 90%;
    }
    .game-based-temp .question-text ul li {
        padding: 0 19px;
    }
    .game-based-temp .close {
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        position: fixed;
        background: #cbcbcb;
        border-radius: 0;
        box-shadow: 0 0 0 0;
        border: 0;
    }
    .game-based-temp {
        padding: 0;
        overflow: auto;
    }
    .game-based-temp .widget-card {
        overflow: visible;
    }
    /* #timeContainer {
      top: 0;
      right: 40px;
      z-index: 99999999999;
      border-radius: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: 0;
    } */
    .feeback-content {
        position: relative;
        min-height: 250px;
    }
    .speedo-meter-content {
        display: none;
    }
    .game-based-temp .widget-card .widget-content-panel {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 100vh;
        width: 50% !important;
    }
    .game-based-temp .widget-card {
        overflow: visible;
        align-items: start;
    }
    .game-based-temp .li-listing {
        height: auto;
        max-height: none;
        min-height: auto;
        padding-bottom: 120px;
    }
    .game-based-temp .widget-card {
        height: auto;
    }
    .game-based-temp .custom-container {
        width: 100%;
    }
    .game-based-temp .wrapper {
        padding-top: 0;
    }
    .game-based-temp .widget-card {
        margin-bottom: 0;
    }
    .game-based-temp .right-panel {
        overflow: visible;
    }
    .footer-bottom-div {
        /* position: -webkit-sticky; */
        position: fixed;
        width: 100%;
        padding: 15px 30px;
        bottom: 0;
        background: #043034;
        left: 0;
        z-index: 9999999999;
    }
    .game-based-temp .right-panel .question-text {
        overflow: visible;
    }
    .game-based-temp .main-sec .text-sec {
        padding: 0 20px;
    }
    .game-based-temp .question-text h1 {
        /* font-size: 15px !important; */
        padding: 15px 0;
        padding-bottom: 0;
        z-index: 99;
        margin-top: 0;
        padding-top: 0;
    }
    .feeback-content img.speedo-meter {
        display: none;
    }
    .vid-player {
        height: 100%;
    }
    .mobile-speedo-meter {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: #FFC107;
        height: 45px;
        margin: 0 auto;
        z-index: 999999;
    }
    .mobile-speedo-meter:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 33.33%;
        background: #FF5722;
    }
    .mobile-speedo-meter:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 33.33%;
        background: #4caf50;
    }
    .game-based-temp {
        top: 0;
    }
}

@media only screen and (min-width: 900px) {
    .mobile-speedo-meter {
        display: none !important;
    }
}

@media only screen and (max-width: 900px) {
    /* .top-tool-elements{
      left: 50%;
      transform: translateX(-50%);
    } */
    .result-screen .info-div .btn.btn-green {
        margin-bottom: 15px
    }
    .main_section {
        display: block;
    }
    .main_section .game-based-temp {
        position: absolute;
        right: 0;
        transition: all 0.5s;
    }
    .gamezone {
        position: relative;
        left: 100%;
        transition: all 0.5s;
        height: 100vh;
    }
    .game-based-temp:after {
        content: none;
    }
}

@media only screen and (max-width: 900px) and (orientation: portrait) {
    .feedback-popup .popup-header .question-count {
        right: -20px;
        left: auto;
    }
    .feedback-popup {
        /* top: auto;
      transform: none; */
        width: 100%;
    }
    .feedback-popup .question-text ul li {
        width: 85%;
    }
    .feedback-popup .question-text {
        max-height: calc(100vh - 300px);
        min-height: calc(100vh - 300px);
    }
    /* .feedback-popup .feedback-inner-container{
      height: 100%;
    } */
    .feedback-text-display {
        margin: 0;
        position: fixed;
        width: 100%;
        left: auto;
    }
    .result-screen .inner-container {
        margin-top: 0;
    }
    .game-based-temp .right-panel .question-text {
        padding: 0 20px;
        /* padding-right: 0; */
        height: 100%;
        overflow: visible;
    }
    .main_section .game-based-temp .mCustomScrollbar {
        padding-right: 0;
    }
    .game-based-temp .right-panel {
        padding-right: 0;
    }
    .game-based-temp .close {
        right: 0;
        top: 0;
        width: 34px;
        height: 34px;
        position: fixed;
        background: #cbcbcb;
        border-radius: 0;
        box-shadow: 0 0 0 0;
        border: 0;
    }
    .game-based-temp .widget-card {
        display: block;
    }
    /* .game-based-temp .right-panel {
      height: auto;
    } */
    .game-based-temp {
        top: 0;
        /* position: absolute; */
        overflow: auto;
    }
    .information-panel .img-sec {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
    }
    .feeback-content {
        position: relative;
    }
    .speedo-meter-content {
        display: none;
    }
    .game-based-temp .widget-card .left-panel,
    .game-based-temp .widget-card .right-panel {
        width: 100% !important;
        height: 100vh;
    }
    .feeback-content.text-sec .text-content-added {
        margin-bottom: 0;
    }
    .feeback-content.text-sec .text-content-added {
        height: auto;
        overflow: visible;
        padding: 15px 0;
        min-height: 250px;
    }
    /* #timeContainer {
      position: absolute;
      top: 0;
      right: 0;
    } */
    .game-based-temp .widget-card .widget-content-panel {
        order: 1 !important;
    }
    .game-based-temp .main-sec .text-sec {
        order: 2;
        padding: 0 20px;
        transition: all 0.5s;
    }
    .footer-bottom-div {
        width: 100%;
        padding: 15px;
        z-index: 999999999999;
        background: #043034;
    }
    .feeback-content img.speedo-meter {
        display: none;
    }
    .game-based-temp .li-listing {
        height: 100%;
        max-height: none;
        min-height: auto;
        padding-bottom: 150px;
    }
    .game-based-temp .custom-container {
        width: 100%;
    }
    .game-based-temp .widget-card {
        height: 100vh;
    }
    .game-based-temp .wrapper {
        padding-top: 0px;
    }
    .vid-player {
        height: 100%;
    }
    .mobile-speedo-meter {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: #FFC107;
        height: 45px;
        margin: 0 auto;
        z-index: 999999;
    }
    .mobile-speedo-meter:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 33.33%;
        background: #FF5722;
    }
    .mobile-speedo-meter:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 33.33%;
        background: #4caf50;
    }
    .feeback-content .smiley-icon-right {
        position: fixed;
        margin: auto;
        top: 6px;
        height: auto;
        transition: all 0.5s;
        width: 8%;
        bottom: auto;
    }
    .feeback-content .smiley-icon-right.happy-icon {
        right: 13%;
        left: auto;
    }
    .feeback-content .smiley-icon-right.happy-icon {
        right: 13%;
        left: auto;
    }
    .feeback-content .smiley-icon-right.sad-icon {
        right: inherit;
        left: 13%;
    }
    .game-based-temp .widget-card .widget-content-panel {
        height: auto;
        min-height: 250px;
    }
    .game-based-temp {
        padding: 0;
    }
    .game-based-temp .wrapper,
    .game-based-temp .widget-card {
        height: 100%;
    }
    .game-based-temp .float-right.text-sec {
        padding-bottom: 60px;
        /* min-height: calc(100vh - 300px); */
        order: 1;
    }
    .game-based-temp .right-panel,
    .game-based-temp .widget-card {
        overflow: visible;
    }
    .game-based-temp .question-text {
        margin-top: 0;
    }
    .information-panel .info-content.img-sec img {
        width: auto;
    }
    .game-based-temp .question-text h1 {
        /* font-size: 15px !important; */
        z-index: 99;
        margin: 0;
        margin: 0;
        margin-bottom: 4px;
    }
    /* #timeContainer {
      position: fixed;
      top: 10px;
      right: 10px;
      z-index: 99999999999;
      border-radius: 20px;
      margin-top: 0;
    } */
    .game-based-temp .question-text {
        margin-top: 0;
    }
    .footer-bottom-div {
        width: 100%;
        padding: 20px;
        z-index: 999999999;
        left: auto;
        right: 0;
    }
    .feeback-content img.speedo-meter {
        display: none;
    }
    .game-based-temp .li-listing {
        height: auto;
    }
    .game-based-temp .custom-container {
        width: 100%;
    }
    .game-based-temp .widget-card {
        height: 100%;
    }
    .game-based-temp .wrapper {
        padding-top: 0px;
    }
    .vid-player {
        height: 100%;
    }
    .mobile-speedo-meter {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background: #FFC107;
        height: 45px;
        margin: 0 auto;
    }
    .mobile-speedo-meter:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 33.33%;
        background: #FF5722;
        height: 45px;
    }
    .mobile-speedo-meter:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 33.33%;
        background: #4caf50;
        height: 45px;
    }
    .feeback-content .smiley-icon-right {
        position: fixed;
        margin: auto;
        top: 6px;
        height: auto;
        transition: all 0.5s;
        width: 8%;
        bottom: auto;
    }
    .feeback-content .smiley-icon-right.happy-icon {
        right: 13%;
        left: auto;
    }
    .feeback-content .smiley-icon-right.happy-icon {
        right: 13%;
        left: auto;
    }
    .feeback-content .smiley-icon-right.sad-icon {
        right: inherit;
        left: 13%;
    }
}